@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px
}

*, *::before, *::after {
    margin:0;
	padding:0;
	box-sizing: border-box;
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    top: 0;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24262be3;
    position: fixed;
    backdrop-filter: blur(10px);
}









.logo {
    height: 30px;
    cursor: pointer;
    margin-left: 17vw;
}

.nav_links {
    font-family: 'Roboto', sans-serif; 
    list-style: none;
}

.nav_links li {
    font-size: 12px;
    color: white;
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    color: #a8a8a8;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #c2c2c2;
}

.navbar button {
    color: white;
    font-size: 12px;
    margin-right: 17vw;
    padding: 9px 25px;
    background: linear-gradient(to left, #ff1212, darkred);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar button:hover {
    background: linear-gradient(to left, #ff1220, #750000);
    background-color: #967e7e;
}


















aside {

}

aside img {

    box-sizing: border-box;
    display: flex;
    height: 30vw;
    margin: 0 auto;
    padding-top: 3vw;
}


aside h1 {
    color: #0c0c0c;
    margin-top: 6vw;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

aside p {
    color: #0c0c0c;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; 
}

article {
    display: flex;
    align-items: center;
    height: 100vh;

}

article h1 {
    color: #0c0c0c;
    margin-top: 50px;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

article p {
    color: #0c0c0c;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; 
}

article img {

}

.links-erp {
    margin-top: 3vw;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.links-erp a {
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    margin: 40px;
}

.links-erp a:hover {
    text-decoration: underline;
}

.links-erp-1 {
    width: 99px;
}

.links-erp-2 {
    width: 134px;
    margin-left: 25px;
   }

.ct-menu {
    text-align: left;
    margin-left: 50px;
}

.links-cd {
    margin-top: 30px;
}

.links-cd a{
    
    color: darkred;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.links-cd a:hover {
    text-decoration: underline;
}

.links-cd {
    
}

.links-cd-1 {
    margin-left: 113px;
    justify-content: left;
}

.links-cd-2 {
    margin-left: 90px;
    justify-content: right;
}

.ct-menu p {
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif; 
}

.imagem-cd {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding-top: 3vw;
    height: 90vh;
}

div h2 {
    margin-top: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    text-align: center;
}

div p {
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

div img {
    height: 50vh;
    
}














.titulo-card{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    background: #24262b;
}

.cards .content img{
    max-width: 100%;
    height: 50vh;
}

.cards .content:hover img{
    opacity: 0.5;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 5px #750000;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.texto button {
    color: white;
    font-size: 12px;
    padding: 9px 25px;
    background: linear-gradient(to left, #ff1212, darkred);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
}

.texto button:hover {
    background: linear-gradient(to left, #ff1220, #750000);
    background-color: #967e7e;
}



.cards .content {
    width: 400px;
    height: 400px;
    margin: 30px;
    align-items: center;
}

.cards .content .texto{
    position: relative;
    margin-top: -360px;
    text-align: center;
    visibility: hidden;

}

.cards .content:hover .texto {
    visibility: visible;
    cursor: pointer;
    /*text-shadow: 0 1px 0 rgb(231, 11, 11);*/
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
}

p{  
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
}





.brasil {
  
}

.brasil h1 {
    color: #0c0c0c;
    margin-top: 100px;
    font-size: 38px;
    margin-bottom: px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.brasil p {
    color: #0c0c0c;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 50px;
}

.estados-do-brasil {
    margin: 100px 100px 0px 100px;
}

.estados-1 {
    background-color: red;
    margin-left: 333px;
    margin-right: 1200px;
}

.estados-2 {
    margin-left: 600px;
    margin-right: 900px;
}

.mapa-brasil {
    height: 400px;
    width: 400px;
    margin: 0px auto;
    display: flex;

}


table {
    clear: left;
    
}































.container{
	max-width: 1170px;
	margin:auto;
}

.row{
    display: flex;
	flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    margin-top: 100px;
    margin-bottom: 0;
	background-color: #24262b;
    padding: 25px 0;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff1212;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
	background-color: #ffffff;
}


/*responsive*/
@media(max-width: 767px){
    
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}